.card{
    height: 550px;
    border: 4px ridge white;
border-radius: 10px;
}

.img{
    height: 400px;
    border-radius: 10px;
    border: 2px ridge white;
}

img:hover{
    border: none;
}

.head{
    color: bisque;
    text-decoration: none;
}
.text{
    color: beige;
    text-decoration: none;
}

.text:hover{
    color: black;
}